@charset "utf-8";

.noline {
  text-decoration:none;
  color: white;
}
h6 {
    padding-bottom: 7px;
    font-size: 18px;
    font-weight: 400;
    border-width: 0 0 1px 0;
    line-height: 20px;
    margin-left: 0px;
  /* border-style: solid; */
  border-color: #e6e6e6;
}




a:hover {
    text-decoration: underline;
  }

@media screen and (min-width: 479px) {
* {
  margin: 0;
  padding: 0;
}
.br-pc { display:block; }
.br-sp { display:none; }
.tab-sp { display:none; }


  .htab {
        margin-left: 16px;
    }

  ol {
    padding-right: 10px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 0px;
    line-height: 1.3
  }
  ol li {
  padding-top:0px;
  padding-bottom:7px;
}


body {
  width: 100%;
  font-family: arial, sans-serif;
}


figure1 {
	float: left;
	margin: 0 15px 30px 0;
	/* width: 20%; */
	width: 180px;
}

h1 {
    height: auto;
    /* margin: 20px 0 0 10px; */
    padding: 0;
    text-align: left;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    border-top: 0;
    line-height: 1.5;
}
.bg {
    color: white;
    clear:both;
}

h2 {
  margin: 30px 0 20px 0;
  padding: 0 0 0 15px;
  font-size: 26px;
  font-weight: bold;
  border-width: 0 0 0 4px;
  border-style: solid;
  border-color: #0f5296;
}

article {
  margin: 30px 100px 50px 0;
  padding: 0 0 0 30px;
  line-height: 1.4
  font-size: 22px;

}

h3 {
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
  border-width: 0 0 1px 0;
  /* border-style: solid; */
  border-color: #e6e6e6;
}

h5 {
    padding-bottom: 7px;
    font-size: 18px;
    font-weight: 400;
    border-width: 0 0 1px 0;
    line-height: 20px;
  /* border-style: solid; */
  border-color: #e6e6e6;
}



footer{
    height: auto;
    background-image: url("../image/star.jpg");
    /* margin: 40px 40px 10px 10px; */
    margin: 0px 0px 0px 0px;
    padding: 0 0 0 10px;
    color: #000;
    font-size: 15px;
    border-top: 0;
    line-height: 1.5;
}
header {
    height: 130px;
    background-image: url("../image/star.jpg");
    /* margin: 10px 40px 10px 10px; */
    margin: 0px 0px 0px 0px;
    padding: 0 0 0 20px;
    color: #000;
    font-size: 15px;
    border-top: 0;
    line-height: 1.5;
}

.bg_foot {
    background-repeat:  no-repeat;
    background-size: 100% 350%;
    color: white;
}




.tab-area {
  display: flex;
  justify-content: space-around;
  background-color: #222e3e;
  cursor: pointer;
}


.tab-area .tab{
    font-size: 14pt;
    width: 300px;
    height: 40px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    color: white;
    border-right: 1px solid #50637b;
    border-left: 1px solid #222e3e;
}

.tab-area .tab.active{
    background-color: #ccc;
    color: #222e3e;
    border: none;

}
.content-area .content{
    display: none;
  }
.content-area .content.show{
    margin-top: 50px;
    display: block;
}


}




@media screen and (max-width: 479px){

  * {
    margin: 0;
    padding: 0;
  }

  body {
    width: 100%;
    font-family: arial, sans-serif;
  }

  .br-pc { display:none; }
  .br-sp { display:block; }
  .tab-sp {display:inline;  }


  .htab {
        margin-left: 16px;
    }

    ol {
      padding-right: 5px;
      padding-left: 20px;
      padding-top: 5px;
      padding-bottom: 0px;
      line-height: 1.3
    }
    ol li {
    padding-top:0px;
    padding-bottom:7px;
  }





  figure1 {
  	float: left;
  	margin: 15px 15% 15px 15%;
  	width: 100%;
  }

  h1 {
      height: auto;
      margin: 0;
      padding: 0;
      text-align: left;
      color: #000;
      font-size: 28px;
      font-weight: bold;
      border-top: 0;
      line-height: 1.5;
  }
  .bg {
      color: white;
      clear:both;
  }

  h2 {
    margin: 40px 0 10px 0;
    padding: 0 0 0 15px;
    font-size: 26px;
    font-weight: bold;
    border-width: 0 0 0 4px;
    border-style: solid;
    border-color: #0f5296;
  }

  article {
    margin: 30px 0 50px 0;
    padding: 0 5% 0 5%;

  }

  h3 {
      padding-bottom: 10px;
      font-size: 18px;
      font-weight: bold;
    border-width: 0 0 1px 0;
    /* border-style: solid; */
    border-color: #e6e6e6;
  }

  h5 {
      padding-bottom: 7px;
      font-size: 16px;
      font-weight: 400;
      border-width: 0 0 1px 0;
      line-height: 20px;
    /* border-style: solid; */
    border-color: #e6e6e6;
  }


  footer{
      height: auto;
      background-image: url("../image/star.jpg");
      /* margin: 40px 40px 10px 10px; */
      margin: 0px 0px 0px 0px;
      padding: 0 5% 0 5%;
      color: #000;
      font-size: 13px;
      border-top: 0;
      line-height: 1.5;
  }
  header {
      height: 150px;
      background-image: url("../image/star.jpg");
      /* margin: 10px 40px 10px 10px; */
      padding: 0 5% 10px 5%;
      color: #000;
      font-size: 15px;
      border-top: 0;
      line-height: 1.5;
  }

  .bg_foot {
      background-repeat:  no-repeat;
      background-size: 100% 350%;
      margin: 0px 15px 0px 15px;
      color: white;
  }


  .tab-area {
    display: flex;
    justify-content: space-around;
    background-color: #222e3e;
    cursor: pointer;
  }


  .tab-area .tab{
      font-size: 14pt;
      width: 300px;
      height: 40px;
      line-height: 40px;
      font-weight: 700;
      text-align: center;
      color: white;
      border-right: 1px solid #50637b;
      border-left: 1px solid #222e3e;
  }

  .tab-area .tab.active{
      background-color: #ccc;
      color: #222e3e;
      border: none;

  }
  .content-area .content{
      display: none;
    }
  .content-area .content.show{
      margin-top: 25px;
      display: block;
  }
}





  figure2 {
  	float: center;
    margin: 0% 0% 100% 0%;; /* 「上」､「右」､「下」､「左」を指定 */
  	width: 100%;
  }

h7 {
  float: center;
      /* padding-left: 30px; */
      font-size: 18px;
      line-height: 22px;
      /* line-height: 20px; */
    /* border-style: solid; */
    border-color: #e6e6e6;
  }

  /* *{
      outline: 2px red solid;
  } */
